<div class="jumbotron">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>

  <div class="container-fluid">
    <p class="lead">
      <% unless @friend.twitter.empty? %>
        <i class="fab fa-twitter text-primary"></i>
        <%= "@#{@friend.twitter}" %>
      <% end %>
    </p>

    <p class="lead">
      <% unless @friend.email.empty? %>
        <i class="fas fa-envelope text-danger"></i>
        <%= @friend.email %>
      <% end %>
    </p>

    <p class="lead">
      <% unless @friend.phone.empty? %>
        <i class="fas fa-mobile text-dark"></i>
        <%= @friend.phone %>
      <% end %>
    </p>
  </div>

  <hr/>

  <div class="pt-2">
    <div class="row justify-content-md-center align-items-center pb-2">
      <div class="col col-4">
        <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-primary btn-block" %>
      </div>
    </div>

    <div class="row justify-content-md-center align-items-center pb-2">
      <div class="col col-4">
        <%= link_to 'Back', friends_path, class: "btn btn-light btn-block" %>
      </div>
    </div>
  </div>
</div>
